.startPage {
    background-image: url("/images/cinema-background.jpg");

}

nav img {
    height: 120px;
    margin: 10px 0px 10px 10px;
    float: left;
    border-radius: 25px;
    box-shadow: 0px 0px 50px lightblue;
}

.headerTitle {
    float: left;
    font: bold 1.6em calibri;
    font-size: 30px;
    color: #154360;
    margin: 10px 0px 0px 30px;
    text-shadow: 17px 17px #0066FF;
}

.container{
    padding-top: 25px;
 }


.moviePage {
    background-color: lightblue;
}

.infoPage {
    background-color: lightsalmon;
}

.bookPage {
    background-color: lightpink;
}

.bookedPage {
    background-color: lightgreen;
}

.moviePage, .bookPage, .bookedPage, .infoPage {
    position: absolute;
    width: auto;
    height: 50px;
    top: 10%;
    left: 5%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px;
}

.movieInfo {
    color: green;
    font-weight: bold;
}

.movieBooked {
    color: grey;
 }

.navbar-footer {
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

a {
    text-decoration: none;
    font-weight: bold;
}

    a:hover {
        color: whitesmoke;
        text-decoration: none;
        cursor: pointer;
    }

.welcome {
    color: #807c7c;
    position: absolute;
    width: auto;
    height: 50px;
    top: 25%;
    left: 30%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px;
    font-weight: normal;
    font-family: 'Comic Sans MS';
}

    .welcome a {
        color: #807c7c;
        text-decoration: none;
        padding: 0 10px;
        font-size: 1.6em;
        text-transform: uppercase;
        -moz-transition: 1s all;
        -webkit-transition: 1s all;
        -o-transition: 1s all;
        transition: 1s all;

    }

        .welcome a:hover, .welcome h2:hover {
            color: whitesmoke;
            -moz-transition: 1s 1s color, 2s letter-spacing, 2s margin-left, 1s font-size ease;
            -webkit-transition: 1s 1s color, 2s letter-spacing, 2s margin-left, 1s font-size ease;
            -o-transition: 1s 1s color, 2s letter-spacing, 2s margin-left, 1s font-size ease;
            transition: 1s 1s color, 2s letter-spacing, 2s margin-left, 1s font-size ease;
            letter-spacing: .3em;
            margin-left: 25px;
            font-size: 2.6em;
        }

    .welcome span.additional {
        opacity: 0;
        display: block;
        color: orange;
        text-shadow: 1px 1px white;
        font-size: 1.8em;
        font-style: italic;
        position: relative;
        line-height: 1.2em;
        -moz-transition: 3s all;
        -webkit-transition: 3s all;
        -o-transition: 3s all;
        transition: 3s all;
    }


    .welcome a:hover + span.additional, .welcome h2:hover + span.additional {
        opacity: 1;
        -moz-transition: 3s opacity;
        -webkit-transition: 3s opacity;
        -o-transition: 3s opacity;
        transition: 3s opacity;
    }