@{
    ViewData["Title"] = "Home Page";
}

<body class="startPage">


    <div class="StartText">
        <br>
        <br>

        <h2>Welcome to Berras Bio</h2>

        <a asp-area="" asp-controller="Showings" asp-action="Index">Movie Today</a>

    </div>


</body>
