@{
    ViewData["Title"] = "Home Page";
}

<body class="startPage">


    <div class="welcome">
        <br />
        <h2>Welcome to Berras Bio</h2><span class="additional">Enjoy the best movies!</span>
        <br>
        <br>
        <br>
        <a asp-area="" asp-controller="Showings" asp-action="Index" title="Go to Movie page">Movie Today</a><span class="additional">Book on the Movie list page</span>

    </div>


</body>