@{
    ViewData["Title"] = "Home Page";
}

<body class="startPage">


    <div class="welcome">
        <h2>Welcome to Berras Bio</h2>
        <br>
        <br>
        <br>
        <a asp-area="" asp-controller="Showings" asp-action="Index">Movie Today</a>

    </div>


</body>

n